/*

Name: Copper Hill
Background: White
Color: Orange
Type: Flat

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Flat

Style: white-turquoise
Name: White Turquoise
Background: Light
Color: Turquoise
Type: Skeuomorph

Style: light-black
Name: Light Black
Background: Light
Color: Black
Type: Flat

Style: light-beige
Name: Light Beige
Background: Light
Color: Beige
Type: Skeuomorph

Style: black-beige
Name: Black Beige
Background: Black
Color: Beige
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-copper-hill/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: -10px;
@internal-box-decoration-secondary-transform-vertical:   10px;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-border-width:                    @global-border-width;
@internal-box-decoration-border:                          @global-border;

.hook-box-decoration() {

    &::before {
        border: @internal-box-decoration-border-width solid @internal-box-decoration-border;
        z-index: 1;
    }

}

.hook-box-decoration-default() {

    &::before {
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
    }

}

.hook-box-decoration-primary() {

    &::before {
        top: 16px;
        bottom: 10px;
        left: 10px;
        right: 16px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 10px;
        bottom: 16px;
        left: 16px;
        right: 10px;
        border: @internal-box-decoration-border-width solid @internal-box-decoration-border;
        z-index: 1;
    }

}

.hook-box-decoration-secondary() {

    &::before {
        top: -20px;
        bottom: -8px;
        left: -8px;
        right: -20px;
    }

    &::after {
        content: '';
        position: absolute;
        top: -16px;
        bottom: -12px;
        left: -12px;
        right: -16px;
        border: @internal-box-decoration-border-width solid @internal-box-decoration-border;
        z-index: 1;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-copper-hill/styles/@{internal-style}.less";

@internal-style: ;
