/*

Name: Yard
Background: White
Color: Yellow
Type: Flat

Style: white-orange
Name: White Orange
Background: White
Color: Orange
Type: Material

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Material

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Material

Style: white-darkblue
Name: White Darkblue
Background: White
Color: blue
Type: Material

Style: dark-orange
Name: Dark Orange
Background: Dark
Color: Orange
Type: Material

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-yard/_import.less";

// Theme
@import "theme.less";


//
// Variables
// ========================================================================

//
// Page Border
//

@theme-page-border-width:                                30px;
@theme-page-border-width-l:                              50px;

//
// Section
//

@internal-section-title-mode:                            ;
@section-title-letter-spacing:                           none;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0px;
@internal-box-decoration-default-transform-vertical:     0px;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0px;
@internal-box-decoration-primary-transform-vertical:     0px;
@theme-box-decoration-secondary-background:              transparent;

@internal-box-decoration-secondary-transform-horizontal: 0px;
@internal-box-decoration-secondary-transform-vertical:   0px;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-border-width:                   3px;
@internal-box-decoration-border:                         @global-primary-background;

.tm-page when not (@theme-page-border-width = 0) { border-top-width: 0; }

.hook-box-decoration() {

    &::before { border: @internal-box-decoration-border-width solid @internal-box-decoration-border; }

}

.hook-box-decoration-default() {

    padding-left: 20px;
    padding-bottom: 20px;

    &::before {
        right: 20px;
        top: 20px;
    }

}

.hook-box-decoration-primary() {

    padding-top: 20px;
    padding-right: 20px;

    &::before {
        left: 20px;
        bottom: 20px;
    }

}

.hook-box-decoration-secondary() {

    padding-bottom: 20px;
    padding-right: 20px;

    &::before {
        top: 20px;
        left: 20px;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-yard/styles/@{internal-style}.less";

@internal-style: ;
