/*

Name: Sonic
Background: White
Color: Red
Type: Material

Style: white-turquoise
Name: White Turquoise
Background: White
Color: Turquoise
Type: Material

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Material

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Material

Style: white-purple
Name: White Purple
Background: White
Color: Purple
Type: Material

Style: dark-turquoise
Name: Dark Turquoise
Background: Dark
Color: Turquoise
Type: Material

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-sonic/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   -15px;
@internal-box-decoration-default-transform-vertical:     15px;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   -15px;
@internal-box-decoration-primary-transform-vertical:     15px;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: -15px;
@internal-box-decoration-secondary-transform-vertical:   15px;
@theme-box-decoration-secondary-background:              transparent;


//
// New
//

@theme-box-decoration-default-border: 	 				 darken(@global-muted-background, 5%);
@theme-box-decoration-primary-border: 	 		         @global-primary-background;
@theme-box-decoration-secondary-border:	 		         @global-secondary-background;

@internal-box-decoration-border-primary-gradient: 		 linear-gradient(135deg, #f95860, #ff7f58);
@internal-box-decoration-border-secondary-gradient:		 linear-gradient(135deg, #605cee, #7571c8);

.hook-box-decoration-default() {

	&::before { border: 2px solid @theme-box-decoration-default-border; }

}

.hook-box-decoration-primary() {

	&::before {
		border: 2px solid @theme-box-decoration-primary-border;
		border-image: @internal-box-decoration-border-primary-gradient 1;
	}

}

.hook-box-decoration-secondary() {

	&::before {
		border: 2px solid @theme-box-decoration-secondary-border;
		border-image: @internal-box-decoration-border-secondary-gradient 1;
	}

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-sonic/styles/@{internal-style}.less";

@internal-style: ;
