/*

Name: Joline
Background: White
Color: Beige
Type: Flat

Style: white-salmon
Name: White Salmon
Background: White
Color: Red
Type: Flat

Style: white-green
Name: White Green
Background: White
Color: Green
Type: Flat

Style: light-green
Name: Light Green
Background: Light
Color: Green
Type: Flat

Style: light-pink
Name: Light Pink
Background: Light
Color: Pink
Type: Flat

Style: black-pink
Name: Black Pink
Background: Black
Color: Pink
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-joline/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Headerbar
//

@theme-headerbar-top-border-width:              @global-border-width;
@theme-headerbar-top-border:                    @global-border;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-border-width:                   @global-border-width;
@internal-box-decoration-border:                         @global-primary-background;

.tm-headerbar-top + .uk-navbar-container:not(.uk-navbar-sticky) .uk-navbar-nav > li > a::before when (@navbar-nav-item-line-mode) and (@navbar-nav-item-line-position-mode = top) { top: -@theme-headerbar-top-border-width; }

.hook-box-decoration() {

    &::before {
        border: @internal-box-decoration-border-width solid @internal-box-decoration-border;
        z-index: 1;
    }

}

.hook-box-decoration-default() {

    padding-left: 15px;
    padding-bottom: 15px;

    &::before {
        top: 15px;
        right: 15px;
    }

}

.hook-box-decoration-primary() {

    padding-right: 15px;
    padding-top: 15px;

    &::before {
        bottom: 15px;
        left: 15px;
    }

}

.hook-box-decoration-secondary() {

    padding-right: 15px;
    padding-bottom: 15px;

    &::before {
        top: 15px;
        left: 15px;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-joline/styles/@{internal-style}.less";

@internal-style: ;
