/*

Name: Florence
Background: White
Color: Beige
Type: Flat

Style: white-lilac
Name: White Lilac
Background: White
Color: Beige
Type: Flat

Style: light-pink
Name: Light Pink
Background: Light
Color: Pink
Type: Flat

Style: white-red
Name: White Red
Background: White
Color: Pink
Type: Flat

Style: white-orange
Name: White Orange
Background: White
Color: Orange
Type: Flat

Style: dark-brown
Name: Dark Brown
Background: Dark
Color: Brown
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-florence/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Section
//

@section-title-color:                                    @global-emphasis-color;

@internal-section-title-dash-border-height:              60px;
@internal-section-title-dash-border-margin:              20px;

//
// Box Decoration
//

@internal-box-decoration-primary-transform-horizontal:   -20px;
@internal-box-decoration-primary-transform-vertical:     20px;
@theme-box-decoration-primary-background:                @global-primary-background;

@internal-box-decoration-secondary-transform-horizontal: -20px;
@internal-box-decoration-secondary-transform-vertical:   20px;
@theme-box-decoration-secondary-background:              darken(@global-primary-background, 3%);

.hook-box-decoration() {

    &::before {
        top: 30%;
        right: 15%;
    }

}

// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-florence/styles/@{internal-style}.less";

@internal-style: ;