/*

Name: Vision
Background: White
Color: Red
Type: Material

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Material

Style: white-yellow
Name: White Yellow
Background: White
Color: Yellow
Type: Material

Style: white-lilac
Name: White Lilac
Background: White
Color: Purple
Type: Material

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Material

Style: black-green
Name: Black Green
Background: Black
Color: Green
Type: Material

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-vision/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Section
//

@section-title-color:                                    @global-emphasis-color;

@internal-section-title-dash-border-height:              60px;
@internal-section-title-dash-border-margin:              20px;

//
// Box Decoration
//

@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              transparent;

.hook-box-decoration() {

    &::before {
        background-position: 50% 50%;
        background-repeat: repeat;

        .svg-fill("../../../../uikit-themes/master-vision/images/box-decoration-default-image.svg", "#000", fade(@global-muted-color, 50%), background-image);

    }

}

.hook-box-decoration-default() {

    &::before {
        top: -70px;
        bottom: -70px;
        left: 70px;
        right: -70px;
    }

}

.hook-box-decoration-primary() {

    &::before {
        top: -70px;
        bottom: -70px;
        left: -70px;
        right: 70px;
    }

}

.hook-box-decoration-secondary() {

    &::before {
        top: 70px;
        bottom: -70px;
        left: -70px;
        right: -70px;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-vision/styles/@{internal-style}.less";

@internal-style: ;