/*

Name: Flow
Background: White
Color: Purple
Type: Material

Style: white-darkblue
Name: White Darkblue
Background: White
Color: Darkblue
Type: Material

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Material

Style: white-lightblue
Name: White Lightblue
Background: White
Color: Lightblue
Type: Material

Style: white-green
Name: White Green
Background: White
Color: Green
Type: Material

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Material

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-flow/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================


//
// Toolbar
//

@theme-toolbar-background:                               @global-primary-background;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   10%;
@internal-box-decoration-primary-transform-vertical:     15%;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: -8%;
@internal-box-decoration-secondary-transform-vertical:   12%;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-default-image:                  "../vendor/assets/uikit-themes/master-flow/images/box-decoration-default-image.svg";
@internal-box-decoration-primary-image:                  "../vendor/assets/uikit-themes/master-flow/images/box-decoration-primary-image.svg";
@internal-box-decoration-secondary-image:                "../vendor/assets/uikit-themes/master-flow/images/box-decoration-secondary-image.svg";


.hook-box-decoration-default() {

	&::before {
        left: -8%;
        right: -8%;
        background-image: url(@internal-box-decoration-default-image);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

}

.hook-box-decoration-primary() {

	&::before {
        background-image: url(@internal-box-decoration-primary-image);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 100% 100%;
    }

}

.hook-box-decoration-secondary() {

    &::before {
        background-image: url(@internal-box-decoration-secondary-image);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 0% 100%;
    }
}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-flow/styles/@{internal-style}.less";

@internal-style: ;
