/*

Name: Nioh Studio
Background: White
Color: Green
Type: Flat

Style: black-blue
Name: Black Blue
Background: Black
Color: Blue
Type: Flat

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Flat

Style: white-orange
Name: White Orange
Background: White
Color: Orange
Type: Flat

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Flat

Style: white-turquoise
Name: White Turquoise
Background: White
Color: Turquoise
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-nioh-studio/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Page border
//

@theme-page-border:                                      @global-primary-background;
@theme-page-border-mode:                                 -right;
@theme-page-border-width:                                10px;

//
// Section
//

@internal-section-title-dash-border-height:              3px;
@internal-section-title-dash-border-width:               18px;

@section-title-font-size:                                @global-font-size;

//
// Box Decoration
//

@theme-box-decoration-default-background:                transparent;
@theme-box-decoration-primary-background:                transparent;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@theme-box-decoration-default-border:                    @global-muted-background;
@theme-box-decoration-primary-border:                    @global-primary-background;
@theme-box-decoration-secondary-border:                  @global-secondary-background;

.hook-box-decoration-default() {

	&::before { border: 4px solid @theme-box-decoration-default-border; }

}

.hook-box-decoration-primary() {

	&::before { border: 4px solid @theme-box-decoration-primary-border; }

}

.hook-box-decoration-secondary() {

	&::before { border: 4px solid @theme-box-decoration-secondary-border; }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-nioh-studio/styles/@{internal-style}.less";

@internal-style: ;
