/*

Name: Morgan Consulting
Background: White
Color: Beige
Type: Flat

Style: white-green
Name: White Green
Background: White
Color: Green
Type: Flat

Style: white-dove
Name: White Dove
Background: White
Color: Blue
Type: Flat

Style: white-yellow
Name: White Yellow
Background: White
Color: Yellow
Type: Flat

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Flat

Style: white-orange
Name: White Orange
Background: White
Color: Orange
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-morgan-consulting/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Page Border
//

@theme-page-border-width:                                20px;

@theme-page-container-width:                             1560px;
@theme-page-container-background:                        #272727;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@theme-box-decoration-default-border:                    @global-muted-background;
@theme-box-decoration-primary-border:                    @global-primary-background;
@theme-box-decoration-secondary-border:                  @global-secondary-background;

.tm-page when not (@theme-page-border-width = 0) { border-top-width: 0; }

.hook-box-decoration() {

    &::before {
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: 1;
    }

}

.hook-box-decoration-default() {

	&::before { border: 4px solid @theme-box-decoration-default-border; }

}

.hook-box-decoration-primary() {

	&::before { border: 4px solid @theme-box-decoration-primary-border; }

}

.hook-box-decoration-secondary() {

	&::before { border: 4px solid @theme-box-decoration-secondary-border; }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-morgan-consulting/styles/@{internal-style}.less";

@internal-style: ;
