/*

Name: Pinewood Lake
Background: Light
Color: Orange
Type: Skeuomorph

Style: white-green
Name: White Green
Background: Light
Color: Green
Type: Skeuomorph

Style: white-petrol
Name: White Petrol
Background: Light
Color: Turquoise
Type: Skeuomorph

Style: light-orange
Name: Light Orange
Background: Light
Color: Orange
Type: Skeuomorph

Style: light-blue
Name: Light Blue
Background: Light
Color: Blue
Type: Skeuomorph

Style: light-umber
Name: Light Umber
Background: Light
Color: Orange
Type: Skeuomorph

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-pinewood-lake/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Section
//

@section-title-color:                                    @global-emphasis-color;

@internal-section-title-dash-border-height:              60px;
@internal-section-title-dash-border-margin:              20px;


//
// Mask
//

@internal-mask-default-image:                            "../vendor/assets/uikit-themes/master-pinewood-lake/images/mask-default-image.svg";
@internal-mask-default-image-slice:                      50;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-default-border:                 @global-secondary-background;
@internal-box-decoration-primary-border:                 @global-primary-background;
@internal-box-decoration-secondary-border:               @global-primary-background;

.hook-box-decoration() {

    &::before {
        border-width: 3px;
        border-style: solid;
        -webkit-mask-box-image-source: url("../vendor/assets/uikit-themes/master-pinewood-lake/images/box-decoration-image.svg");
        mask-border: url("../vendor/assets/uikit-themes/master-pinewood-lake/images/box-decoration-image.svg");
        -webkit-mask-box-image-slice: 3;
        mask-border-slice: 3;
        -webkit-mask-box-image-repeat: round;
        mask-border-repeat: round;
        // Firefox Fallback
        mask-image: url("../vendor/assets/uikit-themes/master-pinewood-lake/images/box-decoration-image.svg");
        mask-size: 100% 100%;
    }

}

.hook-box-decoration-default() {

    padding: 10px;

    &::before { border-color: @internal-box-decoration-default-border; }
}

.hook-box-decoration-primary() {

    padding: 10px;

    &::before { border-color: @internal-box-decoration-primary-border; }

}

.hook-box-decoration-secondary() {

    &::before {
        top: 10px;
        bottom: 10px;
        left: 10px;
        right: 10px;
        border-color: @internal-box-decoration-secondary-border;
        z-index: 1;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-pinewood-lake/styles/@{internal-style}.less";

@internal-style: ;
