/*

Name: Fjord
Background: White
Color: Pink
Type: Skeuomorph

Style: white-green
Name: White Green
Background: White
Color: Green
Type: Skeuomorph

Style: light-blue
Name: Light Blue
Background: Light
Color: Blue
Type: Skeuomorph

Style: blue-white
Name: Blue White
Background: Colored
Color: White
Type: Skeuomorph

Style: dark-green
Name: Dark Green
Background: Dark
Color: Green
Type: Skeuomorph

Style: black-orange
Name: Black Orange
Background: Black
Color: Orange
Type: Skeuomorph

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-fjord/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Mask
//

@internal-mask-default-image:                            "../vendor/assets/uikit-themes/master-fjord/images/mask-default-image.png";
@internal-mask-default-image-slice:                      100;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                darken(@global-muted-background, 10%);

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                @global-primary-background;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              @global-secondary-background;

.hook-box-decoration() {

    &::before {
        top: -30px;
        bottom: -30px;
        left: -30px;
        right: -30px;
        -webkit-mask-box-image-source: url("../vendor/assets/uikit-themes/master-fjord/images/mask-default-image.png");
        mask-border: url("../vendor/assets/uikit-themes/master-fjord/images/mask-default-image.png");
        -webkit-mask-box-image-slice: 100 fill;
        mask-border-slice: 100;
        -webkit-mask-box-image-repeat: round;
        mask-border-repeat: round;
        // Firefox Fallback
        mask-image: url("../vendor/assets/uikit-themes/master-fjord/images/mask-default-image.png");
        mask-size: 100% 100%;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-fjord/styles/@{internal-style}.less";

@internal-style: ;
