/*

Name: Summit
Background: White
Color: Blue
Type: Skeuomorph

Style: light-purple
Name: Light Purple
Background: Light
Color: Purple
Type: Skeuomorph

Style: white-turquoise
Name: White Turquoise
Background: White
Color: Turquoise
Type: Skeuomorph

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Skeuomorph

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Skeuomorph

Style: white-yellow
Name: White Yellow
Background: White
Color: Yellow
Type: Skeuomorph

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-summit/_import.less";

// Theme
@import "theme.less";

//
// Variables
//

@theme-toolbar-color-mode:                      dark;

@internal-svg-color-default:                    #000;
@internal-svg-color-primary:                    #c6e3f7;
@internal-svg-color-secondary:                  @global-background;

// Style
@import (optional) "../vendor/assets/uikit-themes/master-summit/styles/@{internal-style}.less";

@internal-style: ;


// Variables
// ========================================================================

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              transparent;

.tm-mask-default {
    -webkit-mask-image: url("../vendor/assets/uikit-themes/master-summit/images/mask-default-image.svg");
    mask-image: url("../vendor/assets/uikit-themes/master-summit/images/mask-default-image.svg");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.hook-box-decoration() {

    &::before {
        border-image-slice: 3% fill;
        border-image-width: 10px;
        border-image-repeat: stretch;
        z-index: 1;
    }

}

.hook-box-decoration-default() {

    padding: 5px;

    &::before { .svg-fill("../../../../uikit-themes/master-summit/images/box-decoration-default-image.svg", "#000", @card-default-border, border-image-source); }

}

.hook-box-decoration-primary() {

    padding: 8px;

    &::before { .svg-fill("../../../../uikit-themes/master-summit/images/box-decoration-primary-image.svg", "#000", @card-default-border, border-image-source); }

}

.hook-box-decoration-secondary() {

    padding: 16px;

    &::before { .svg-fill("../../../../uikit-themes/master-summit/images/box-decoration-primary-image.svg", "#000", @card-default-border, border-image-source); }

}
