/*

Name: Vibe
Background: Colored
Color: Pink
Type: Skeuomorph

Style: blue-blue
Name: Blue Blue
Background: Colored
Color: Blue
Type: Skeuomorph

Style: dark-turquoise
Name: Dark Turquoise
Background: Dark
Color: Turquoise
Type: Skeuomorph

Style: dark-yellow
Name: Dark Yellow
Background: Dark
Color: Yellow
Type: Skeuomorph

Style: dark-red
Name: Dark Red
Background: Dark
Color: Red
Type: Skeuomorph

Style: dark-green
Name: Dark Green
Background: Dark
Color: Green
Type: Skeuomorph

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-vibe/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Page Border
//

@theme-page-border-mode:                                 -top;
@theme-page-border-width:                                6px;
@theme-page-body-border:                                 mix(@global-secondary-background, @global-primary-background, 50%);
@internal-theme-page-border-gradient:                    linear-gradient(90deg, @global-secondary-background, @global-primary-background);

//
// Toolbar
//

@theme-toolbar-background:                               darken(@global-background, 1%);

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0px;
@internal-box-decoration-default-transform-vertical:     0px;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0px;
@internal-box-decoration-primary-transform-vertical:     0px;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0px;
@internal-box-decoration-secondary-transform-vertical:   0px;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-default-border-gradient:        linear-gradient(135deg, @global-primary-background, desaturate(darken(spin(@global-primary-background, -45%), 15%), 25%));
@internal-box-decoration-secondary-box-shadow:           -2px -2px 0 @global-primary-background, 2px 2px 0 @global-secondary-background;

.hook-box-decoration-default() {

    padding: 2px;

    &::before {
        border: @global-border-width solid @global-primary-background;
        border-image: @internal-box-decoration-default-border-gradient 1;
    }

}

.hook-box-decoration-primary() {

    &::before {

        animation: tm-box-decoration-primary-glitch 0.65s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;

        @keyframes tm-box-decoration-primary-glitch {
            0% { box-shadow: none; }
            25% { box-shadow: -2px -2px 0 @global-primary-background, 2px 2px 0 @global-secondary-background; }
            50% { box-shadow: 2px -2px 0 @global-primary-background, -2px 2px 0 @global-secondary-background; }
            75% { box-shadow: -2px 2px 0 @global-primary-background, 2px -2px 0 @global-secondary-background; }
            100% { box-shadow: 2px 2px 0 @global-primary-background, -2px -2px 0 @global-secondary-background; }
        }

    }

}

.hook-box-decoration-secondary() {

    &::before { box-shadow: @internal-box-decoration-secondary-box-shadow; }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-vibe/styles/@{internal-style}.less";

@internal-style: ;
