/*

Name: Fuse
Background: White
Color: Black
Type: Flat

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Flat

Style: white-bordeaux
Name: White Bordeaux
Background: White
Color: Red
Type: Flat

Style: light-green
Name: Light Green
Background: light
Color: Green
Type: Skeuomorph

Style: dark-yellow
Name: Dark Yellow
Background: Dark
Color: Yellow
Type: Flat

Style: dark-brown
Name: Dark Brown
Background: Dark
Color: Brown
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-fuse/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   -15px;
@internal-box-decoration-default-transform-vertical:     15px;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   15px;
@internal-box-decoration-primary-transform-vertical:     -15px;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 15px;
@internal-box-decoration-secondary-transform-vertical:   15px;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-border-width:                   @global-border-width;
@internal-box-decoration-border:                         @global-border;

.hook-box-decoration() {

    &::before {
        border: @internal-box-decoration-border-width solid @internal-box-decoration-border;
        z-index: 1;
    }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-fuse/styles/@{internal-style}.less";

@internal-style: ;
