/*

Name: Jack Baker
Background: White
Color: Red
Type: Flat

Style: white-black
Name: White Black
Background: White
Color: Black
Type: Flat

Style: white-brown
Name: White Brown
Background: White
Color: Brown
Type: Flat

Style: red-black
Name: Red Black
Background: Colored
Color: Black
Type: Flat

Style: dark-turquoise
Name: Dark Turquoise
Background: Dark
Color: Turquoise
Type: Flat

Style: black-red
Name: Black Red
Background: Black
Color: Red
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-jack-baker/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

@theme-page-border-width:                                14px;
@theme-page-border:                                      @global-background;

//
// Section
//

@section-title-color:                                    @global-color;
@section-title-text-transform:                           uppercase;
@section-title-letter-spacing:                           3px;

@internal-section-title-mode:                            dash;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;
@theme-box-decoration-default-background:                transparent;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                transparent;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              transparent;

//
// New
//

@internal-box-decoration-default-image:                  "../vendor/assets/uikit-themes/master-jack-baker/images/box-decoration-default-image.svg";
@internal-box-decoration-primary-image:                  "../vendor/assets/uikit-themes/master-jack-baker/images/box-decoration-primary-image.svg";
@internal-box-decoration-secondary-image:                "../vendor/assets/uikit-themes/master-jack-baker/images/box-decoration-secondary-image.svg";

.hook-box-decoration() {

    &::before {
        border-image-slice: 30 fill;
        border-image-width: 30px;
    }

}

.hook-box-decoration-default() {

    &::before {
        border-image-source: url(@internal-box-decoration-default-image);
        border-image-outset: 25px;
    }

}

.hook-box-decoration-primary() {

    &::before {
        border-image-source: url(@internal-box-decoration-primary-image);
        border-image-outset: 24px;
    }

}

.hook-box-decoration-secondary() {

    &::before {
        border-image-source: url(@internal-box-decoration-secondary-image);
        border-image-outset: 20px;
    }

}

// Inverse
@internal-inverse-box-decoration-default-image:          "../vendor/assets/uikit-themes/master-jack-baker/images/inverse-box-decoration-default-image.svg";
@internal-inverse-box-decoration-primary-image:          "../vendor/assets/uikit-themes/master-jack-baker/images/inverse-box-decoration-primary-image.svg";
@internal-inverse-box-decoration-secondary-image:        "../vendor/assets/uikit-themes/master-jack-baker/images/inverse-box-decoration-secondary-image.svg";

.hook-inverse() {

    .tm-box-decoration-default::before { border-image-source: url(@internal-inverse-box-decoration-default-image); }
    .tm-box-decoration-primary::before { border-image-source: url(@internal-inverse-box-decoration-primary-image); }
    .tm-box-decoration-secondary::before { border-image-source: url(@internal-inverse-box-decoration-secondary-image); }

}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-jack-baker/styles/@{internal-style}.less";

@internal-style: ;
