/*

Name: Lilian
Background: White
Color: Beige
Type: Flat

Style: white-lilac
Name: White Lilac
Background: White
Color: Purple
Type: Flat

Style: white-green
Name: White Green
Background: White
Color: Green
Type: Flat

Style: white-pink
Name: White Pink
Background: White
Color: Pink
Type: Flat

Style: white-blue
Name: White Blue
Background: White
Color: Blue
Type: Flat

Style: light-salmon
Name: Light Salmon
Background: Light
Color: Orange
Type: Flat

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-lilian/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================


//
// Section
//

@section-title-font-size:                                @text-meta-font-size;

//
// Page Border
//

@theme-page-border-width:                                20px;
@theme-page-border-width-l:                              40px;

//
// Box Decoration
//

@internal-box-decoration-default-transform-horizontal:   0;
@internal-box-decoration-default-transform-vertical:     0;

@internal-box-decoration-primary-transform-horizontal:   0;
@internal-box-decoration-primary-transform-vertical:     0;
@theme-box-decoration-primary-background:                @global-primary-background;

@internal-box-decoration-secondary-transform-horizontal: 0;
@internal-box-decoration-secondary-transform-vertical:   0;
@theme-box-decoration-secondary-background:              @global-primary-background;

.hook-box-decoration-default() {

    &::before {
        top: -30px;
        bottom: -30px;
        left: -30px;
        right: 30px;
    }

}

.hook-box-decoration-primary() {

    &::before {
        top: -30px;
        bottom: -30px;
        left: -30px;
        right: 30px;
    }

}

.hook-box-decoration-secondary() {

    &::before {
        top: -30px;
        bottom: -30px;
        left: 30px;
        right: -30px;
    }

}

.tm-page when not (@theme-page-border-width = 0) {
    border-top-width: 0;
    border-bottom-width: 0;
}


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-lilian/styles/@{internal-style}.less";

@internal-style: ;
