/*

Name: Max
Background: White
Color: Blue
Type: Material

Style: white-red
Name: White Red
Background: White
Color: Red
Type: Material

Style: white-salmon
Name: White Salmon
Background: White
Color: Red
Type: Material

Style: white-turquoise
Name: White Turquoise
Background: White
Color: Turquoise
Type: Material

Style: white-purple
Name: White Purple
Background: White
Color: Purple
Type: Material

Style: black-black
Name: Black Black
Background: Black
Color: Black
Type: Material

*/

// Platform
@import "platform.less";

// UIkit Core
@import "../vendor/assets/uikit/src/less/uikit.less";

// UIkit Theme
@import "../vendor/assets/uikit-themes/master/_import.less";
@import "../vendor/assets/uikit-themes/master-max/_import.less";

// Theme
@import "theme.less";


// Variables
// ========================================================================

@theme-box-decoration-default-background:                darken(@global-muted-background, 3%);
@theme-box-decoration-primary-background:                @global-primary-background;
@theme-box-decoration-secondary-background:              @global-secondary-background;


// Style
// ========================================================================

@import (optional) "../vendor/assets/uikit-themes/master-max/styles/@{internal-style}.less";

@internal-style: ;
