@charset "utf-8";
/**
 * SEO Glossary
 *
 * We developed this code with our hearts and passion.
 * We hope you found it useful, easy to understand and change.
 * Otherwise, please feel free to contact us at contact@joomunited.com
 *
 * @package 	SEO Glossary
 * @copyright 	Copyright (C) 2013 JoomUnited (http://www.joomunited.com). All rights reserved.
 * @license 	GNU General Public License version 2 or later; http://www.gnu.org/licenses/gpl-2.0.html
 */

.glossaryclear {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    width: auto;
    overflow: auto;
    display: block;
}

.glossaryclear th {
    background-color: #85C1E9;
    font-weight: normal;
    color: white;
    padding: 20px 30px;
    text-align: center;
}

.glossaryclear thead:hover {
    background-color: #85C1E9 !important;
}

tr.header-seoglossary {
    font-size:115%;
}

.glossaryclear td {
    padding: 20px 30px;
    color: rgb(111, 111, 111);
}

th.glossary25 {
    min-width:160px;
    max-width:230px;
}

th.glossary72 {
    min-width:200px;
    max-width:800px;
    width:100%;
}

.glossaryclear tr.row0 {
    background-color: #f5f5f5;
}

.glossaryclear tr.row1 {
    background-color:#eee;
}

table#glossarylist thead tr:hover th {
    background-color: #85C1E9 !important;
}

table#glossarylist tbody tr:hover td, table#glossarylist thead tr:hover td {
    background-color:  rgba(112, 193, 105, 0.3); !important;
    -webkit-transition: background-color 0.4s linear !important;
    -moz-transition: background-color 0.4s linear !important;
    -ms-transition: background-color 0.4s linear !important;
    -o-transition: background-color 0.4s linear !important;
    transition: background-color 0.4s linear !important;
}

table#glossarylist {
    border: 0px !important;
    border-collapse: separate !important;
    border-spacing: 2px !important;
}

table#glossarylist th, table#glossarylist td {
    border: 0px !important;

}
