div.qf2form {
  text-align: left;
  padding: 10px 0;
}

div.qf2form .qf2 {
  padding-bottom: 20px;
}

div.qf2form .qf2label {
  text-align: left;
  padding: 0 20px 0 0;
  display: block;
  width: 100%;
  line-height: 100%;
}

div.qf2form .radioblok {
  display: inline-block;
}

div.qf2form .vertically .radioblok label {
  display: block;
  margin: 0;
  white-space: nowrap;
}

div.qf2form .horizontally .radioblok label {
  white-space: nowrap;
  margin-right: 15px;
  display: inline-block;
}

div.qf2form .qfradio.vertically .qf2label {
  vertical-align: top;
  line-height: inherit;
}

div.qf2form textarea {
  height: 150px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

div.qf2form select, div.qf2form .qftext input, div.qf2form .qfdate input, div.qf2form .qfemail input, div.qf2form .qfnumber input, div.qf2form .qfrange input, div.qf2form .qftel input, div.qf2form .qfurl input {
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  height: 28px;
}

.qfcapt {
  text-align: right;
}

.qfcapt a {
  color: #CCC !important;
  font-size: 10px !important;
}

.qfcloner {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

.qfcloner.horizontally {
  display: table;
  width: 100%;
  margin-top: 30px;
}

div.qf2form .qfcloner.horizontally>.qfclonerrow {
  display: table-row;
  position: relative;
}

div.qf2form .qfcloner.horizontally .qfclonerrow>.qf2 {
  display: table-cell;
  text-align: center;
  padding: 0;
  border-right: 1px solid #CCC;
}

.qfcloner.horizontally label {
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-color: #F9F9F9;
  padding: 6px 0;
  height: 18px;
  margin-bottom: 10px;
  vertical-align: top;
  display: inline-block;
}

.qfcloner.horizontally .qfadd, .qfcloner.horizontally .qfrem, .qfcloner.horizontally .qfclonesum {
  border: none !important;
}

div.qf2form .qfadd a {
  color: #00F;
  text-decoration: none;
  font-weight: bold;
  font-size: 130%;
  padding-right: 5px;
}

div.qf2form .qfrem a {
  color: #F00;
  text-decoration: none;
  padding-right: 5px;
}

div.qf2form .qfcloner.horizontally .qf2.qfclonesum span {
  padding: 0 10px;
}

div.qf2form .qfcloner.horizontally input, div.qf2form .qfcloner.horizontally select {
  width: 90%;
}

div.qf2form .qfcloner.horizontally input[type="checkbox"], div.qf2form .qfcloner.horizontally input[type="radio"] {
  width: auto;
}

.nfl {
  display: none;
}

.qfcloner.vertically {
  margin-top: 30px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow {
  position: relative;
  border-top: 1px solid #CCC;
  padding-top: 20px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow>.qfadd {
  position: absolute;
  right: 30px;
  top: 0px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow>.qfrem {
  position: absolute;
  right: 10px;
  top: 0px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow>.qfclonesum {
  position: absolute;
  right: 70px;
  top: 0px;
}

.vertically>.qfclonerrow>.qfadd label, .vertically>.qfclonerrow>.qfrem label, .vertically>.qfclonerrow>.qfclonesum label {
  display: none;
}

div.qf2form .qfrange input {
  border: none;
  box-shadow: none;
}

.qf_recaptcha {
  display: inline-block;
  transform: scale(0.9);
  transform-origin: 0 0;
}

.qfunitinner, .qfpriceinner {
  margin-right: 5px;
}


/*type:file*/

.qffile input {
  position: absolute;
  clip: rect(0, 0, 0, 0)
}

div.qf2form .qffile .qf2label {
  display: none;
}

div.qf2form .qffile .filelabel {
  border: 1px solid #C9F;
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  width: auto;
  background-color: #FFFFEC;
}

div.qf2form .qffile .filelabel.filled {
  background-color: #E3FBE4;
}


/*type:button*/

.qfbutton input, .qfreset input {
  border: 1px solid #C9F;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #FFEAFF;
}


/*type:submit*/

.qfsubmit input[type="button"] {
  border: none;
  background: #D06E4B;
  color: #fff;
  font-size: 20px;
  padding: 10px 0;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
}

.qfsubmit input[type="button"]:hover {
  opacity: .8;
}

.qfsubmit input[type="button"]:active {
  opacity: 1;
}


/*type:radio*/

.qfradio input[type="radio"] {
  display: none;
}

.radioblok label {
  border: 1px solid #C9F;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.radioblok input[type=radio]:checked+label {
  color: #FFF;
  background-color: #9F9FFF;
}


/*type:checkbox*/

div.qf2form .qfcheckbox .qf2label {
  display: none;
}

div.qf2form .qfcloner.horizontally .qfcheckbox .qf2label {
  display: inline-block;
}

div.qf2form .qfcheckbox input[type=checkbox] {
  display: none;
}

div.qf2form input[type="checkbox"]:checked+label:before {
  content: none;
}

.qfcheckbox .chbxlabel {
  border: 1px solid #C9F;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  display: inline-block;
}

.qfcheckbox input[type=checkbox]:checked+label {
  color: #FFF;
  background-color: #9F9FFF;
}


.qfprice {
  font-size: 150%;
}

.qfoverlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  z-index: 9999;
  display: none;
}

.qfmodalform {
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  width: 62%;
  margin-left: -31%;
  z-index: 9999;
  display: none;
}

.qfmodalform div.qf2form {
  padding: 50px;
  width: 100%;
}

.qfclose {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
}


/*ajax form*/

.qfsubmitformres {
  position: relative;
  border: 1px solid;
  padding: 20px;
}

.qfsubmitformresclose {
  position: absolute;
  color: #ff0000;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}
