div.qf2form {
  text-align: left;
  padding: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

div.qf2form .qf2 {
  padding-bottom: 10px;
  width: 100%;
}

div.qf2form .qf2label {
  text-align: right;
  padding: 0 20px 0 0;
  display: inline-block;
  width: 38%;
  line-height: 100%;
}

div.qf2form .radioblok {
  display: inline-block;
}

div.qf2form .vertically .radioblok label {
  display: block;
  white-space: nowrap;
  margin-top: -20px;
  margin-left: 20px;
}

div.qf2form .horizontally .radioblok label {
  white-space: nowrap;
  margin-right: 15px;
  margin-left: 5px;
  display: inline-block;
}

div.qf2form .qfradio.vertically .qf2label {
  vertical-align: top;
  line-height: inherit;
}

div.qf2form textarea {
  height: 240px;
  width: 56%;
  max-width: 500px;
  vertical-align: top;
  padding: 5px;
  box-sizing: border-box;
}

div.qf2form select, div.qf2form .qftext input, div.qf2form .qfdate input, div.qf2form .qfemail input, div.qf2form .qfnumber input, div.qf2form .qfrange input, div.qf2form .qftel input, div.qf2form .qfurl input {
  width: 38%;
  display: inline-block;
  max-width: 300px;
  box-sizing: border-box;
  /* height: 28px; */
}

div.qf2form .qfcheckbox input[type=checkbox] {
  margin: 0;
}

.chbxlabel {
  display: none;
}

.filelabel {
  display: none;
}

.qfcapt {
  text-align: right;
}

.qfcapt a {
  color: #CCC !important;
  font-size: 10px !important;
}

.qfcloner {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

.nfl {
  display: none;
}

div.qf2form .compact .qf2label {
  text-align: left;
  padding: 0 20px 0 0;
  display: block;
  width: 100%;
  line-height: 100%;
}

div.qf2form .compact textarea {
  height: 100px;
  width: 100%;
}

div.qf2form .compact select, div.qf2form .compact .qftext input, div.qf2form .compact .qfdate input, div.qf2form .compact .qfemail input, div.qf2form .compact .qfnumber input, div.qf2form .compact .qfrange input, div.qf2form .compact .qftel input, div.qf2form .compact .qfurl input {
  width: 100%;
  max-width: 500px;
}

.qfcloner.horizontally {
  display: table;
  width: 100%;
  margin-top: 30px;
}

div.qf2form .qfcloner.horizontally>.qfclonerrow {
  display: table-row;
  position: relative;
}

div.qf2form .qfcloner.horizontally .qfclonerrow>.qf2 {
  display: table-cell;
  text-align: center;
  padding: 0;
  border-right: 1px solid #CCC;
}

.qfcloner.horizontally label {
  text-align: center;
  margin: 0;
  width: 100%;
  max-width: 100%;
  background-color: #F9F9F9;
  padding: 6px 0;
  height: 18px;
  margin-bottom: 10px;
  vertical-align: top;
}

.qfcloner.horizontally .qfadd, .qfcloner.horizontally .qfrem, .qfcloner.horizontally .qfclonesum {
  border: none !important;
}

div.qf2form .qfadd a {
  color: #00F;
  text-decoration: none;
  font-weight: bold;
  font-size: 130%;
  padding-right: 5px;
}

div.qf2form .qfrem a {
  color: #F00;
  text-decoration: none;
  padding-right: 5px;
}

div.qf2form .qfcloner.horizontally .qf2.qfclonesum span {
  padding: 0 10px;
}

div.qf2form .qfcloner.horizontally input, div.qf2form .qfcloner.horizontally select {
  width: 90%;
}

div.qf2form .qfcloner.horizontally input[type="checkbox"], div.qf2form .qfcloner.horizontally input[type="radio"] {
  width: auto;
}

.qfcloner.vertically {
  margin-top: 30px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow {
  position: relative;
  border-top: 1px solid #CCC;
  padding-top: 20px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow>.qfadd {
  position: absolute;
  right: 30px;
  top: 0px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow>.qfrem {
  position: absolute;
  right: 10px;
  top: 0px;
}

div.qf2form .qfcloner.vertically>.qfclonerrow>.qfclonesum {
  position: absolute;
  right: 70px;
  top: 0px;
}

.vertically>.qfclonerrow>.qfadd label, .vertically>.qfclonerrow>.qfrem label, .vertically>.qfclonerrow>.qfclonesum label {
  display: none;
}

div.qf2form .qfrange input {
  border: none;
  box-shadow: none;
}

.qfunitinner, .qfpriceinner {
  margin-right: 5px;
}

.qfprice {
  padding: 10px 0;
}


/*recaptcha*/

div.qf2form .qfcaptcha .qf2label {
  width: 0;
}

.qf_recaptcha {
  margin-left: 38%;
  box-sizing: border-box;
  display: inline-block;
  /*transform:scale(0.8);
	transform-origin:0 0;*/
}

.compact .qf_recaptcha {
  margin-left: 0;
}


/*modal form*/

.qfoverlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  z-index: 9990;
}

.qfmodalform {
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  width: 62%;
  margin-left: -31%;
  z-index: 9999;
}

.qfmodalform div.qf2form {
  padding: 50px;
  width: 100%;
}

.qfclose {
  position: absolute;
  top: 0;
  right: 0;
  height: 18px;
  width: 18px;
  cursor: pointer;
  color: #000000;
  font-size: 18px;
}


/*ajax form*/

.qfsubmitformres {
  position: relative;
  border: 1px solid;
  padding: 20px;
}

.qfsubmitformresclose {
  position: absolute;
  color: #ff0000;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 5px;
  font-size: 18px;
}


/*qftabs*/

.qftabsitemlabel{
  cursor: pointer;
  border: 1px solid #c3c1c3;
  padding: 5px;
}

.qftabactiv{
  background-color: #f9dcae !important;
}

.qftabsitem{
  border: 1px solid #c3c1c3;
  padding: 10px;
  background-color: #f9dcae;
}

.qftabs.vertically {
  display: flex;
}

.vertically .qfeven{
  background-color: #f9f6f2;
}

.vertically .qftabactiv{
  border-right: 0;
}

.vertically .qftabsitem{
  border-left: 0;
}

.vertically .qftabslabelsbox{
  width: 38%;
}

.vertically .qftabsitem{
  width: 62%;
}

.horizontally .qftabslabelsbox{
  display: flex;
}

.horizontally .qftabactiv{
  border-bottom: 0;
}

.horizontally .qftabsitem{
  border-top: 0;
}
