/* https://fonts.googleapis.com/css?family=Lato:400,300,300i|Montserrat:500,400,300|Roboto|Roboto+Mono:300,400,600&subset=cyrillic generated on 2019-02-11T11:38:21+03:00 */
@font-face {font-family: 'Lato'; font-style: italic; font-weight: 300; src: url(../fonts/font-dc2362f2.woff2) format('woff2'), url(../fonts/font-2c5cae27.woff) format('woff'); }
@font-face {font-family: 'Lato'; font-style: normal; font-weight: 300; src: url(../fonts/font-1089ee07.woff2) format('woff2'), url(../fonts/font-7b43bb4c.woff) format('woff'); }
@font-face {font-family: 'Lato'; font-style: normal; font-weight: 400; src: url(../fonts/font-257e476e.woff2) format('woff2'), url(../fonts/font-39422864.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 300; src: url(../fonts/font-e90f59fc.woff2) format('woff2'), url(../fonts/font-c9949e3b.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url(../fonts/font-251916f6.woff2) format('woff2'), url(../fonts/font-99b3da10.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../fonts/font-57487735.woff2) format('woff2'), url(../fonts/font-85aa4749.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url(../fonts/font-c85493ae.woff2) format('woff2'), url(../fonts/font-5af1bd3b.woff) format('woff'); }
@font-face {font-family: 'Roboto Mono'; font-style: normal; font-weight: 300; src: url(../fonts/font-dfd93e63.woff2) format('woff2'), url(../fonts/font-3ca1aae1.woff) format('woff'); }
@font-face {font-family: 'Roboto Mono'; font-style: normal; font-weight: 400; src: url(../fonts/font-1ec5aab1.woff2) format('woff2'), url(../fonts/font-4128d3df.woff) format('woff'); }
