/* https://fonts.googleapis.com/css?family=Lato:400,300,300i|Montserrat:500,400,300|Roboto|Roboto+Mono:300 generated on 2019-02-11T11:35:02+03:00 */
@font-face {font-family: 'Lato'; font-style: italic; font-weight: 300; src: url(../fonts/font-dc2362f2.woff2) format('woff2'), url(../fonts/font-2c5cae27.woff) format('woff'); }
@font-face {font-family: 'Lato'; font-style: normal; font-weight: 300; src: url(../fonts/font-1089ee07.woff2) format('woff2'), url(../fonts/font-7b43bb4c.woff) format('woff'); }
@font-face {font-family: 'Lato'; font-style: normal; font-weight: 400; src: url(../fonts/font-257e476e.woff2) format('woff2'), url(../fonts/font-39422864.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 300; src: url(../fonts/font-a5e55404.woff2) format('woff2'), url(../fonts/font-4a89381a.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url(../fonts/font-69f31b0e.woff2) format('woff2'), url(../fonts/font-1aae7c31.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../fonts/font-1ba27acd.woff2) format('woff2'), url(../fonts/font-06b7e168.woff) format('woff'); }
@font-face {font-family: 'Roboto'; font-style: normal; font-weight: 400; src: url(../fonts/font-2796f890.woff2) format('woff2'), url(../fonts/font-4d8aa978.woff) format('woff'); }
@font-face {font-family: 'Roboto Mono'; font-style: normal; font-weight: 300; src: url(../fonts/font-bd761209.woff2) format('woff2'), url(../fonts/font-4e901fbd.woff) format('woff'); }
