.qf_cart_box {
  text-align: right;
  cursor: pointer;
  height: 24px;
  color: red;
  padding-right: 10px;
}

.qf_cart_box:hover {
  color: rgb(43, 139, 181)
}

.qf_cart_box img {
  height: 100%;
}

.qf_cart_box span {
  display: inline-block;
  margin-left: 7px;
  height: 100%;
  vertical-align: middle;
  font-size: 120%;
}
.qf_cart_pcs {
  color: rgba(55, 89, 145, 0.8);
}

#qfshuttle {
  position: fixed;
  z-index: 9994;
  bottom: 5%;
  right: 0px;
  opacity: 0;
  text-align: right;
  cursor: pointer;
  height: 32px;
  color: red;
  /*border: 1px solid rgba(13, 98, 242, 0.44);*/
  padding: 14px;
  /*border-radius: 50px 0 0 50px;*/
  border-width: 1px 0 1px 2px;
  background-color: rgba(255, 255, 255, 0.72);
}

#qfshuttle img {
  height: 100%;
  /*vertical-align: middle;*/
}

#qfshuttle span {
  display: inline-block;
  margin-left: 7px;
  height: 100%;
  font-size: 120%;
}

/*big cart */

.qfcartoverlay {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.9;
  z-index: 9995;
}

.qfcartform {
  padding: 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  z-index: 9995;
}
.qfcartforminner {
  padding: 80px 0;
}

.qf_cart_empty {
  display: block;
  height: 100%;
  border: 1px solid rgb(140, 200, 224);
  padding: 80px;
}

.qfcartclose {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  cursor: pointer;
  color: rgba(54, 42, 42, 0.41);
  font-size: 48px;
  text-align: right;
  width: 80px;
  height: 80px;
  border: 1px solid rgba(42, 94, 134, 0.71);
  border-radius: 80px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 28px;
  background-color: #fff;
}

.qfcartclose:hover {
  color: rgb(250, 7, 7)
}


.qfcartform table{
  border: 0;
  width: 100%;
}
.qfcartform td{
  padding-top: 20px;
  border-bottom: 1px solid rgba(42, 94, 134, 0.36);
  vertical-align: middle;
}
.qfcartform td.qf_td_2 img{
  width: 90%;
  border: 1px solid rgba(42, 94, 134, 0.71);
}
.qfcartform table input{
  width: 100%;
  min-width: 32px;
  max-width: 80px;
  margin: 0;
  padding: 5px;
  font-size: 110%;
}
.qfcartform td.qf_td_3{
  width: 38%;
}
.qfcartform ul{
  font-size: 90%;
  margin: 0 0 1.5em 12px;
  padding: 0 0 0 12px;
}
.qf_td_4, .qf_td_6 {
  white-space: nowrap;
  padding: 0 5px;
}

.qfcartform td.qf_td_1 span {
  display: block;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border: 1px solid rgba(42, 94, 134, 0.71);
  border-radius: 30px;
  text-align: center;
  padding-top: 30px;
  box-sizing: border-box;
  line-height: 0;
  font-size: 30px;
  color: rgba(54, 42, 42, 0.35);
}
.qfcartform td.qf_td_1 span:hover {
  color: rgb(250, 7, 7)
}

.qf_cart_foot {
  display: table;
  width: 100%;
  margin-top: 100px;
}
.qf_cart_foot_l, .qf_cart_foot_r {
  display: table-cell;
}

#qf_contacts {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 80px;
  background-color: rgb(255, 255, 255);
  display: none;
}

.qf_contacts_inner {
  position: absolute;
  left: 50%;
  top: 150px;
  width: 600px;
  margin-left: -300px;
}

.qf_cart_foot div.qf2form {
  width: 100%;
  padding: 0;
}
.qf_cart_foot div.qf2form .qf2label {
  text-align: left;
  padding: 0 20px 0 0;
  display: block;
  width: 100%;
  line-height: 100%;
}


.qf_cart_foot div.qf2form textarea {
  height: 100px;
  width: 100%;
  max-width: 500px;
  padding: 5px;
}

.qf_cart_foot div.qf2form select, .qf_cart_foot div.qf2form .qftext input, .qf_cart_foot div.qf2form .qfdate input, .qf_cart_foot div.qf2form .qfemail input, .qf_cart_foot div.qf2form .qfnumber input, .qf_cart_foot div.qf2form .qfrange input, .qf_cart_foot div.qf2form .qftel input, .qf_cart_foot div.qf2form .qfurl input {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  font-size: 110%;
  height:2em;
  box-sizing: border-box;
}
.qf_cart_foot div.qf2form .vertically .radioblok label {
  display: block;
  white-space: nowrap;
  margin-top: -1.5em;
  margin-left: 20px;
}
.qf_cart_foot div.qf2form .vertically .radioblok input {
  vertical-align: middle;
}

.qf_cart_foot div.qf2form .qfprice {
  display: none;
}
.qf_cart_foot .qfpriceinner {
  margin: 0 10px;
}
#qf_resultprice div {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.qf_cart_foot_r label{
  flex-grow: 6;
  overflow: hidden;
}
.qf_cart_foot_r label::after {
    display: inline-block;
    margin-left: 15px;
    width: 0;
    content: "................................................................................................................................................................................................................................................................................................................................................";
    white-space: nowrap;
    color: #343434;
}
.qf_cart_foot_r .total {
  font-weight: bold;
}

.qf_cart_btn {
  margin-top: 60px;
}

.qfcartsubmit {
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 120%;
}

.nfl {
    display: none;
}
.qfcapt {
    text-align: right;
}
.qfcapt a {
    color: #CCC !important;
    font-size: 10px !important;
}

@media only screen and (max-width: 768px) {
  .qf_cart_foot_l, .qf_cart_foot_r {
    display: block;
  }

  .qf_cart_foot {
    display: block;
  }

}
