.masonary_seo
{
    border: 0px;
    margin: 10px;
    padding-bottom: 10px;
}
.masonary_seo .title {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1.35;
    max-width: 80%;
    overflow: hidden;
    text-align: left;
}
.masonary_seo .title span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 15px 20px 0;

}
.masonary_seo .date {
    color: #999;
    margin-left: 20px;
    display:block;
}
.masonary_seo .text {
    color: #555;
    font-size: 0.9em;
    margin: 10px 20px;
    display:block;
}
.wpcu-front-box.bottom .read-more
{
    border-top: 1px solid rgba(251, 153, 2, 0.7);
     font-size: 0.9em;
    font-weight: bold;
    margin: 5px 20px;
    padding: 5px;
    text-align: left;
}

/* CSS3 STYLE GENERIC */
.masonary_seo .view {
   width: 100%;
   height: 200px;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
}
.masonary_seo  .view .content {
    width: 100%;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.masonary_seo  .view .mask
{
    width: 100%;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;    
}
.span12.col-xs-12.col-md-12.grid.grid-item.grid-item-front
{
   max-width:100%;
}
.grid-item-front .masonary_seo  .view  {
    max-width:300px;
    margin-right:10px;
}
.grid-item-front .masonary_seo .title span
{
    margin:0px;
}
.grid-item-front .masonary_seo
{
    min-height: 220px;
}
.masonary_seo  .view img {
   position: relative;
   width:100%;
   height:200px;
}
.masonary_seo  .view a.info {
   background:url(../images/overimage.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

.masonary_seo  .second-effect .mask {
   opacity: 0;
   overflow:visible;
   border:0px solid rgba(0,0,0,0.7);
   box-sizing:border-box;
   transition: all 0.4s ease-in-out;
}

.masonary_seo  .second-effect a.info {
   position:relative;
   top:-10px;
   opacity:0;
   transform:scale(0,0);
   transition: transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out;
}

.masonary_seo  .second-effect:hover .mask {
   opacity: 1;
   border:100px solid rgba(0,0,0,0.7);
}

.masonary_seo  .second-effect:hover a.info {
   opacity:1;
   transform:scale(1,1);
   transition-delay:0.3s;
}
