.uk-thumbnav > * > * {
    border: solid 3px #fff;
}
.uk-heading-divider {
    border-bottom: 2px solid #f4f4f4;
}
.uk-card-primary.uk-card-body .uk-nav-default > li > a, .uk-card-primary > :not([class*="uk-card-media"])  .uk-nav-default > li > a {
    color: rgba(255, 255, 255, 0.87);
}
