/* https://fonts.googleapis.com/css?family=Montserrat&subset=cyrillic generated on 2018-11-21T18:16:16+03:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url(../../yootheme/fonts/font-251916f6.woff2) format('woff2'), url(../../yootheme/fonts/font-99b3da10.woff) format('woff'); }
