/* https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:400,500&subset=cyrillic generated on 2018-11-21T18:15:47+03:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url(../../yootheme/fonts/font-251916f6.woff2) format('woff2'), url(../../yootheme/fonts/font-99b3da10.woff) format('woff'); }
@font-face {font-family: 'Work Sans'; font-style: normal; font-weight: 400; src: url(../../yootheme/fonts/font-c538090b.woff2) format('woff2'), url(../../yootheme/fonts/font-5b0126b1.woff) format('woff'); }
@font-face {font-family: 'Work Sans'; font-style: normal; font-weight: 500; src: url(../../yootheme/fonts/font-63fd0c01.woff2) format('woff2'), url(../../yootheme/fonts/font-b9c20902.woff) format('woff'); }
