/* https://fonts.googleapis.com/css?family=Montserrat:500|PT+Serif:400,400i,700|Playfair+Display generated on 2018-12-05T15:18:24+00:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../fonts/font-1ba27acd.woff2) format('woff2'), url(../fonts/font-06b7e168.woff) format('woff'); }
@font-face {font-family: 'PT Serif'; font-style: italic; font-weight: 400; src: url(../fonts/font-a3913573.woff2) format('woff2'), url(../fonts/font-360dafd3.woff) format('woff'); }
@font-face {font-family: 'PT Serif'; font-style: normal; font-weight: 400; src: url(../fonts/font-6482a3ff.woff2) format('woff2'), url(../fonts/font-6c7b3554.woff) format('woff'); }
@font-face {font-family: 'PT Serif'; font-style: normal; font-weight: 700; src: url(../fonts/font-5b90a788.woff2) format('woff2'), url(../fonts/font-c8af9d69.woff) format('woff'); }
@font-face {font-family: 'Playfair Display'; font-style: normal; font-weight: 400; src: url(../fonts/font-8c568ab9.woff2) format('woff2'), url(../fonts/font-ad21ac88.woff) format('woff'); }
