/* https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&subset=cyrillic generated on 2018-11-21T18:16:55+03:00 */
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 100; src: url(../../yootheme/fonts/font-bfe454fb.woff2) format('woff2'), url(../../yootheme/fonts/font-9ac4be41.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 200; src: url(../../yootheme/fonts/font-3a146712.woff2) format('woff2'), url(../../yootheme/fonts/font-045e8b5c.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 300; src: url(../../yootheme/fonts/font-e90f59fc.woff2) format('woff2'), url(../../yootheme/fonts/font-c9949e3b.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 400; src: url(../../yootheme/fonts/font-251916f6.woff2) format('woff2'), url(../../yootheme/fonts/font-99b3da10.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 500; src: url(../../yootheme/fonts/font-57487735.woff2) format('woff2'), url(../../yootheme/fonts/font-85aa4749.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 600; src: url(../../yootheme/fonts/font-561a0b33.woff2) format('woff2'), url(../../yootheme/fonts/font-0ca74708.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 700; src: url(../../yootheme/fonts/font-af988f63.woff2) format('woff2'), url(../../yootheme/fonts/font-37fc7894.woff) format('woff'); }
@font-face {font-family: 'Montserrat'; font-style: normal; font-weight: 800; src: url(../../yootheme/fonts/font-cf4ee7b4.woff2) format('woff2'), url(../../yootheme/fonts/font-511a7a0b.woff) format('woff'); }
